@import "../app/app.css";

.page-empty {
    padding: 120px 0;
    margin-bottom: 20px; 
}

.text-center {
    text-align: center; 
}

.btn-continue {
    background-color: var(--mono-blue);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2REM;
    font-style:italic;
    letter-spacing: 2px;
    font-weight: 700;
    margin: 4px 2px;
    cursor: pointer;
    transition: color 0.2s ease-in, 
    background-color 0.2s ease-in;
}

.btn-continue:hover {
    background-color: #045dd1;
}

h1 {
    color: #030303;
    margin: 0 0 0.625em;
}
h5 {
    padding-top:2rem;
}

p {
    padding: 4rem 10%;
}