@import "../app/app.css";
.border-top {
    border-top: 1px solid rgb(54, 54, 54);
}

/* Navigation Bar Styles */
li, a {
    /* font family weight and size can go here */
    font-weight: 500;
    font-size: 1.6rem;
}
/* use header for nav */
header {
    background-color: black;
    display: flex;
    justify-content: flex-end; /* pushes right and left to the far edges and evenly spaces the middle */
    align-items: center;
    padding: 20px 5%;
}

/* ask how to center search and cart icon in  */
.nav-links {
    list-style: none;
    display: flex;
    justify-content:flex-end;
    align-items: center;
}
.nav-links li {
    display: inline-block;
    
    padding: 0px 20px;
}
.nav-links li a {
    align-content: center;
    transition: color 0.1s ease-in, background-color 0.1s ease-in;
}
.nav-links li a:hover{
    color: #006eff;
}
li, a, button {
    color: white;
    text-decoration: none;
} 

.logo{
    color: white;
    fill: currentColor;
    
    text-decoration: none;
    margin-right: auto;
    cursor: pointer;
    transition: color 0.1s ease-in, background-color 0.1s ease-in;
}
.logo:hover, .logo:focus {
    color: #006eff;
}

 ul .center-icons {
    display: block;
    margin-left: auto;
    margin-block-end: auto;
} 





