@import '../app/app.css';

.banner{
    display: flex;
    align-items: center;
    margin: 10rem auto;
}

.banner-img{
    width: 100%
  
}


.banner-info{
    
    text-align: center;
    
}
.banner-info h1{
    margin: 2rem;
}

.banner-info {
    padding: 2rem;
}